::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DC3545;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cf0d20;
}
.section-white{
    background: #fff;
    padding: 70px 0;
}

.team-item{
    background: #f4f5f6;
    text-align: center;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.5s ease-in-out;   
}


.team-item:hover{
    background: #444444;
    color: white;
}

.team-item h3{
    margin: 20px 0 1px !important;
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.section-subtitle{
    white-space: pre-line;
}

.team-item:hover h3{
    color: #ddd;
}

.team-info{
    display: block;
    margin-bottom:0 ;
}

.team-img{
    max-width: 140px;
    max-height: 140px;
    padding: 6px 6px;
    background-color:gray;
    border-radius: 50%;
}

.ho{
    height: 450px;
}

.he{
    height: 200px;
}

.team-description{
    color: #444444 !important   ;
    font-weight: bold;
}