@media(min-width : 1001px){
.Cart-Product_Image{
    width: 100px;
    height: 100px;
}
}

@media(max-width : 1000px) and (min-width : 401px){
.Cart-Product_Image{
    width: 75px;
    height: 75px;
}
}

@media(max-width : 400px){
.Cart-Product_Image{
    display: no;
}
}