/* Hero Styling */

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.slick-dots li {
  margin: 0 5px;
  display: inline-block;
}
.slick-dots li button {
  font-size: 12px;
  line-height: 1;
  display: block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #333;
}

/* End of Hero Styling */

.today{
    width: 20px !important; 
    height: 60px;
    border-radius: 7px;
    background-color: #DC4345;
}


/* Products Carousel Styling */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .product-card {
  background-color: rgb(245, 242, 242);
}

.swiper-slide .product-img {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide .eye_icon_container,.eye_icon {
  transition: 0.5s ease;
}.swiper-slide .eye_icon_container:hover{
  background-color: rgb(70, 70, 199)!important;
}.swiper-slide .eye_icon:hover{
  fill: white;
}

.swiper-slide .heart_icon_container,.heart_icon {
  transition: 0.5s ease;
}.swiper-slide .heart_icon_container:hover{
  background-color: #DC4345 !important;
  .heart_icon{
    fill: #db7274;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0px;
  background-color: rgb(52, 52, 52);
  color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: 0.5s ease;
}

.card:hover .overlay {
  height: 35px;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.hero img{
  height: 18rem !important;
}

/* End Products Carousel Styling */

@media screen and (max-width: 1399px) {
  .product-card {
    height: 220px !important;
  }
}


@media screen and (max-width: 991px) {
  /* Hero Styling */

  /* End of Hero Styling */

  /* CountDown Styling */

  .count-down h2,
  span {
    font-size: 20px !important;
  }

  .count-down p {
    font-size: 12px !important;
  }

  .today {
    width: 10px !important;
    height: 50px !important;
  }

  .today-text {
    font-size: 16px !important;
  }

  /* End of CountDown Styling */

  /* Products Carousel Styling */

  .product-card {
    height: 130px !important;
  }

  .swiper-slide .product-card span {
    font-size: 8px !important;
    left: 30px !important;
    top: 20px !important;
  }

  .swiper-slide .product-card button img {
    height: 10px !important;
  }
  .heart_icon_container {
    top: 20px !important;
  }
  .eye_icon_container {
    top: 45px !important;
  }

  .swiper-slide .cardBody h5 {
    font-size: 12px !important;
  }

  .swiper-slide .cardBody p,
  h6 {
    font-size: 11px !important;
    top: 21px !important;
    left: 50px !important;
  }

  .swiper-slide .cardBody img {
    width: 15px !important;
  }

  .card:hover .overlay {
    height: 20px;
  }

  .text {
    font-size: 10px;
  }

  .view-all-product {
    font-size: 10px !important;
    padding: 10px 20px !important;
  }

  /* End of Products Carousel Styling */
}

@media screen and (max-width: 767px) {
  /* Hero Styling */


  /* End of Hero Styling */

  /* CountDown Styling */

  .count-down h2, span {
    font-size: 20px !important;
  }

  .count-down p {
    font-size: 10px !important;
  }

  .today-text {
    font-size: 14px !important;
  }

  /* End ofCountDown Styling */

  /* Products Carousel Styling */

  .product-card {
    height: 90px !important;
  }
  .product-badge{
    padding: 5px 10px !important;
  }

  .swiper-slide .product-card span {
    font-size: 5px !important;
    left: 20px !important;
    top: 15px !important;
  }


  .heart_icon_container {
    top: 15px !important;
  }
  .eye_icon_container {
    top: 35px !important;
  }


  .swiper-slide .cardBody h5 {
    font-size: 10px !important;
  }

  .swiper-slide .cardBody p,
  h6 {
    font-size: 11px !important;

  }



  .card:hover .overlay {
    height: 15px;
  }

  .view-all-product {
    font-size: 10px !important;
    padding: 10px 20px !important;
  }

  /* End of Products Carousel Styling */

}





@media (max-width: 576px) {
  /* Hero Styling */
  
    .hero{
      padding-left: 20px  ;
      padding-right: 6px  ;
    }
  
  /* End of Hero Styling */

  /* CountDown Styling */

  .count-down h2, span {
    font-size: 15px !important;
  }

  .count-down p {
    font-size: 10px !important;
  }

  .today{
    display: none;
  }
  .today-text{
    top: -11px;
    left: -25px;
  }
  
  /* End ofCountDown Styling */

  /* Products Carousel Styling */

  .swiper{
    margin: 0 !important;
    padding:  0 !important;
  }
  .product-card {
    height: 90px !important;
  }
  .product-badge{
    padding: 5px 10px !important;
  }

  .swiper-slide .product-card span {
    padding: 5px !important;
    font-size: 5px !important;
    left: 15px !important;
    top: 10px !important;
  }


  .heart_icon_container {
    top: 15px !important;
    padding: 0 7px !important;
  }
  .eye_icon_container {
    top: 36px !important;
    padding: 0 7px !important;
  }
  .eye_icon, .heart_icon{
    width: 7px;
  }

  .swiper-slide .cardBody h4 {
    font-size: 8px !important;
  }

  .swiper-slide .cardBody h5,h6 {
    font-size: 10px !important;
  }
  .swiper-slide .cardBody .rate{
    top: -20px !important;
  }


  .card:hover .overlay {
    height: 18px;
  }
  .card .overlay button {
    font-size: 7px !important;
  }

  .view-all-product {
    font-size: 10px !important;

    
  }

  /* End of Products Carousel Styling */
}
