
* {
  font-family: 'Noto Sans', sans-serif;}
footer {
  background-color: black !important;
}
.order-form {
  position: relative;
}
.order-form input {
  border: 2px solid #f5f5f5 !important;
  background-color: black;
  color: white;
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 190px;
}

.order-form button {
  background-color: black;
  position: absolute;
  top: 8px;
  right: 3px;
  border: none;
  border-radius: 10px;
  user-select: none;
}

.order-form img {
  height: 20px;
}

.copyright{
    color: gray
}
