@media(min-width : 700px) {
    .HeroPart {
        height: 100vh;
        background-image: url("../images/home/arrangement-black-friday-shopping-carts-with-copy-space.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HeroPart h1 {
        font-size: 50px;
    }
}
@media(max-width : 699px) {
    .HeroPart {
        height: 100vh;
        background-image: url("../images/home/arrangement-black-friday-shopping-carts-with-copy-space.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HeroPart h1 {
        font-size: 35px;
    }
}