.big{
  height: 580px;
  margin-bottom: 20px;
  background-color: rgb(13, 13, 13);
  padding: 30px 20px 0;
}
.medium{
  height: 280px;
  padding: 10px 10px 0 150px;
  background-color: rgb(13, 13, 13);
}
.small{
  height: 280px;
  margin-top: 20px;
  background-color: rgb(13, 13, 13);
  padding: 20px 50px 40px ;
}
.big:hover,.medium:hover,.small:hover{
  background-color: rgb(49, 47, 47);
}
.featured-row{
  padding-top: 50px;
}
.space{
  border-radius: 5px;
  margin-right: 20px;
}
.last-row{
  text-align: center;
  padding: 100px 0;
}
.new-arrival-row{
  margin-bottom: 50px;
}
img{
  width: 100%;
  height: 100%;
}
.icons-div{
  background-color: rgb(187, 197, 197);
  width: 73px;
  height: 73px;
  padding-top: 9px;
  padding-left:9px ;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.icons{
  color: white;
  background-color: black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding-top: 10px;
}
.img-info1{
  color: white;
  position: absolute;
  margin-top: -185px;
  margin-left: 30px;
}
.img-info2{
  color: white;
  position: absolute;
  margin-top: -160px;
  margin-left: 30px;
}
.img-info3{
  color: white;
  position: absolute;
  margin-top: -125px;
  margin-left: 30px;
}
.img-info4{
  color: white;
  position: absolute;
  margin-top: -125px;
  margin-left: 30px;
}
.link{
  text-decoration: none;
  color: white;
  font-size: larger;
}