.Loader-1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.Loader-2 {
	width: 6rem;
	height: 6rem;
	border: 8px solid #d1d5db;
	color: #60a5fa;
	font-size: 2.25rem;
	animation: spin 1s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-color: #60a5fa;
	border-radius: 50%;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#swal2-html-container:has(.Loader-1) {
	overflow-y: hidden !important;
	padding: 1.5rem;
}
