.card img {
	width: 100%;
	height: 100%;
	object-fit: scale-down; /* take specified space without stretching the image */
}

.card {
	width: 18rem;
}

.discount {
	text-decoration: line-through;
}


.slider-Container {
	display: flex;
	justify-content: center;
	align-items: center; 
	margin: 0;
	width: 800px;
	height: auto; /* the height adjusts based on content */
}
