.color-red {
	color: var(--secondary-2);
}

.relatedDiv {
	width: 95%;
}

.discount-percent {
	align-items: center;
	background-color: var(--secondary-2);
	border-radius: 4px;
	display: inline-flex;
	gap: 10px;
	justify-content: center;
	padding: 4px 12px;
	position: relative;
}

.discount-percent .discount-num {
	color: var(--text);
	position: relative;
	width: fit-content;
	display: flex;
	align-items: center;
}

.discount-num span {
	margin-top: -2.5px;
	padding-right: 2px;
}

.RelatedItems-col {
	display: flex;
	place-content: center;
	place-items: center;
	gap: 4rem;
	flex-direction: column;
}

.icon-holder a.favoriteBtn,
.icon-holder button {
	border-radius: 100%;
	cursor: pointer;
	aspect-ratio: 1/1;
	width: fit-content;
	display: flex;
	place-content: center;
	place-items: center;
	gap: 1rem;
}

.icon-holder:has(.favoriteBtn) {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: fit-content;
}
