.tabs {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	max-width: fit-content;
	gap: 10px;
	place-items: center;
}

.tab {
	color: rgba(125, 129, 132, 1) !important;
	text-decoration: inherit !important;
}

.tab:last-child {
	color: black !important;
}

.tab:hover {
	color: inherit;
}
