.redSide{
    width: 20px;
    border-radius: 7px;
    height: 55px;
}

.card-category:hover{
    background-color:#dc3545    ;
}

.card-category{
    text-align: center;
    width: 180px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.card-category:hover{
    color: white;
}

