.signup {
  width: 100%;
}

.form {
  position: relative;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid silver;
  width: 380px;
  outline: none;
}
.signup-form .name-label {
  position: absolute;
  top: 70px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.signup-form .name-input:focus ~ .name-label,
.signup-form .name-input:valid ~ .name-label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.signup-form .email-label {
  position: absolute;
  top: 145px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.signup-form .email-input:focus ~ .email-label,
.signup-form .email-input:valid ~ .email-label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.signup-form .pass-label {
  position: absolute;
  top: 220PX;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.signup-form .pass-input:focus ~ .pass-label,
.signup-form .pass-input:valid ~ .pass-label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}