.product-small-img {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.product-small-img img {
	height: 100px;
	cursor: pointer;
	opacity: 0.9;
	transition: all 300ms ease;
	width: auto;
	object-fit: contain;
}

.product-small-img img:hover {
	opacity: 1;
}

.product {
	display: flex;
	gap: 20px;
	padding: 20px;
	background-color: #fff;
}

.img-container img {
	width: 500px;
	object-fit: scale-down;
	height: auto;
}
