.product {
	display: flex;
	gap: 20px;
	padding: 20px;
	align-items: center;
}

.product-small-img {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 0;
}

.product-small-img img {
	height: 100px;
	width: auto;
	cursor: pointer;
	opacity: 0.8;
	transition: all 500ms ease;
	object-fit: contain;
}

.product-small-img img:hover {
	opacity: 1;
}

.big-img-container {
	height: fit-content;
}

.big-img-container img {
	width: 500px;
	height: auto;
	object-fit: scale-down;
}
